{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-12">
        <div class="col-lg-6 col-lg-offset-6">
            {{ form_errors(form) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ "title_user_resetting_reset" | trans({}, 'SonataUserBundle') }}</h3>
                </div>
                <div class="panel-body">
                    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
                </div>
            </div>        
        </div>
    </div>

{% endblock fos_user_content %}
