<li>
    <a href="{{path('homepage')}}">Inicio</a>
</li>
<li>
    <a href="{{path('sonata_admin_dashboard')}}">Admin Dashboard</a>
</li>
<li>
    <a href="{{path('nelmio_api_doc_index')}}">API Docs</a>
</li>
