<div class="clearfix" style="font-size:11px !important;">
    <span class="fa-stack" data-toggle="tooltip" data-title="{{log.action}}" data-placement="top">
      <i class="fa fa-square fa-stack-2x {{icon_color}}"></i>
      <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
    </span>
</div>
