{% extends "SonataAdminBundle:CRUD:show.html.twig" %}

{% block show %}
    {{ parent() }}
    <div id="user-media-{{object.id}}" style="padding: 20px;">
        {% media object.media, 'admin' with {'style':'width:150px;height:150px;','class':'img-rounded' } %}
    </div>    
{% endblock show %}    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $($('table')[1]).find('tbody tr:first').append('<td rowspan="25" width="140px;"><td>');
            $($('table')[1]).find('tbody tr:first td[rowspan="25"]').append($('#user-media-{{object.id}}'));
        });
        $('.sonata-ba-view-container th').css({'width': '230px'});
    </script>
{% endblock %}